<!DOCTYPE html>
<html>
<head>
  <link href="/css/application.css" rel="stylesheet" type="text/css">
  <title>Tyler Rollins - Poster App</title>
</head>
<body>
 <h1>Ty's Posters</h1>
 <p>Work in progress...</p>
</body>
</html>
