<!DOCTYPE html>
<html>
<head>
  <link href="/css/application.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
  <script src="/javascript/support.js"></script>
  <script src="/javascript/application.js"></script>
  <title>Tyler Rollins - Poster App</title>
</head>
<body>
 <header>Ty's Posters</header>
 <section id="select-image">
  <h2>Step 1. Select an image</h2>
  <p>Enter a keyword to search for an image.</p>
  <input id="search-term" type="text">
  <button id="go-search">Go!</button>
  <div id="search-results"></div>
  <div id="branding"></div>
</section>
</body>
</html>
