<!DOCTYPE html>
<html>
<head>
  <link href="/css/application.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
  <script src="/javascript/support.js"></script>
  <script src="/javascript/application.js"></script>
  <title>Poster App | Tyler Rollins - Web Developer </title>
</head>
<body>
  <header>Ty's Posters</header>
<section id="select-image">
  <h2>Step 1. Select an image</h2>
  <p>Enter a keyword to search for an image.</p>
  <input id="search-term" type="text">
  <button id="go-search">Go!</button>
  <div id="search-results"></div>
  <div id="branding"></div>
</section>
<section id="add-text">
  <h2>Step 2. Add Text</h2>
  <input id="text" type="text" value="Tyler Rollins - Web Developer">
</section>
<section id="style-image">
  <h2>Step 3. Style it!</h2>
  <div id="workspace">
    <p id="caption"></p>
  </div>
  <div id="controls">
    Left: <input type="number" value="10" id="left">
    Top: <input type="number" value="10" id="top">
    Width: <input type="number" value="400" id="width">
    Size: <input type="number" value="32" id="size">
    Colour: <select id="colour">
          <option>red</option>
          <option>green</option>
          <option>white</option>
          <option>black</option>
          <option>blue</option>
          <option>yellow</option>
          <option>gray</option>
          <option>orange</option>
        </select>
</div>
</section>
</body>
</html>
